<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.defects.mapper.DefectsMapper">
    
    <resultMap type="Defects" id="DefectsResult">
        <result property="defectId"    column="defect_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="summary"    column="summary"    />
        <result property="description"    column="description"    />
        <result property="severity"    column="severity"    />
        <result property="status"    column="status"    />
        <result property="detectedBy"    column="detected_by"    />
        <result property="detectedDate"    column="detected_date"    />
        <result property="teamId"    column="team_id"    />
        <result property="priority"    column="priority"    />
        <result property="remark"    column="remark"    />
        <association property="team"  javaType="team">
            <id column="team_id" property="teamId" />
            <result column="team_name" property="teamName"/>
        </association>
    </resultMap>
    <resultMap type="export" id="ExportResult">
        <result property="defectId"    column="defect_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="summary"    column="summary"    />
        <result property="description"    column="description"    />
        <result property="severity"    column="severity"    />
        <result property="status"    column="status"    />
        <result property="detectedBy"    column="detected_by"    />
        <result property="detectedDate"    column="detected_date"    />
        <result property="teamName"    column="team_name"    />
        <result property="priority"    column="priority"    />
        <result property="remark"    column="remark"    />
    </resultMap>



    <select id="exportDefectsLis" resultMap="ExportResult">
        SELECT  d.defect_id,d.case_id,d.module_name,d.project_name,d.summary,d.description,d.severity,d.`status`,d.detected_by,d.detected_date,pt.team_name,d.priority,d.remark  FROM project_team pt  JOIN defects d ON pt.team_id =d.team_id
    </select>

    <sql id="selectDefectsVo">
        SELECT pt.team_id,pt.team_name,d.defect_id,d.case_id,d.module_name,d.project_name,d.summary,d.description,d.severity,d.`status`,d.detected_by,d.detected_date,d.team_id,d.priority,d.remark
        FROM project_team pt  JOIN defects d
        ON pt.team_id =d.team_id
    </sql>

    <select id="selectDefectsList" parameterType="Defects" resultMap="DefectsResult">
        <include refid="selectDefectsVo"/>
        <where>
            <if test="defectId != null "> and d.defect_id like concat('%',#{defectId},'%')</if>
            <if test="caseId != null "> and d.case_id like concat('%',#{caseId},'%')</if>
            <if test="moduleName != null  and moduleName != ''"> and d.module_name like concat('%',#{moduleName},'%')</if>
            <if test="projectName != null  and projectName != ''"> and d.project_name like concat('%', #{projectName},'%')</if>
            <if test="summary != null  and summary != ''"> and d.summary like concat('%',#{summary},'%') </if>
            <if test="description != null  and description != ''"> and d.description like concat('%',#{description},'%') </if>
            <if test="severity != null  and severity != ''"> and d.severity like concat('%', #{severity},'%')</if>
            <if test="status != null  and status != ''"> and d.status like concat('%',#{status},'%') </if>
            <if test="detectedBy != null  and detectedBy != ''"> and d.detected_by like concat('%', #{detectedBy},'%')</if>
            <if test="detectedDate != null "> and d.detected_date like concat('%', #{detectedDate},'%')</if>
            <if test="teamId != null  and teamId != ''"> and pt.team_id like concat('%',#{teamId},'%') </if>
            <if test="priority != null  and priority != ''"> and d.priority like concat('%', #{priority},'%')</if>
        </where>
    </select>
    
    <select id="selectDefectsByDefectId" parameterType="Long" resultMap="DefectsResult">
        <include refid="selectDefectsVo"/>
        where d.defect_id = #{defectId}
    </select>
        
    <insert id="insertDefects" parameterType="Defects">
        insert into defects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="defectId != null">defect_id,</if>
            <if test="caseId != null">case_id,</if>
            <if test="moduleName != null and moduleName != ''">module_name,</if>
            <if test="projectName != null  and projectName != ''">project_name,</if>
            <if test="summary != null and summary != ''">summary,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="severity != null and severity != ''">severity,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="detectedBy != null and detectedBy != ''">detected_by,</if>
            <if test="detectedDate != null">detected_date,</if>
            <if test="teamId != null and teamId != ''">team_id,</if>
            <if test="priority != null  and priority != ''">priority,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="defectId != null">#{defectId},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="moduleName != null and moduleName != ''">#{moduleName},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="summary != null and summary != ''">#{summary},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="severity != null and severity != ''">#{severity},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="detectedBy != null and detectedBy != ''">#{detectedBy},</if>
            <if test="detectedDate != null">#{detectedDate},</if>
            <if test="teamId != null and teamId != ''">#{teamId},</if>
            <if test="priority != null  and priority != ''">#{priority},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateDefects" parameterType="Defects">
        update defects
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseId != null">case_id = #{caseId},</if>
            <if test="moduleName != null  and moduleName != ''">module_name = #{moduleName},</if>
            <if test="projectName != null  and projectName != ''">project_name = #{projectName},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="severity != null and severity != ''">severity = #{severity},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="detectedBy != null and detectedBy != ''">detected_by = #{detectedBy},</if>
            <if test="detectedDate != null">detected_date = #{detectedDate},</if>
            <if test="teamId != null and teamId != ''">team_id = #{teamId},</if>
            <if test="priority != null  and priority != ''">priority = #{priority},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where defect_id = #{defectId}
    </update>

    <delete id="deleteDefectsByDefectId" parameterType="Long">
        delete from defects where defect_id = #{defectId}
    </delete>

    <delete id="deleteDefectsByDefectIds" parameterType="String">
        delete from defects where defect_id in 
        <foreach item="defectId" collection="array" open="(" separator="," close=")">
            #{defectId}
        </foreach>
    </delete>

    <select id="selectMaxId" resultType="java.lang.Long">
        select defect_id from defects order by defect_id desc limit 1;
    </select>

</mapper>