<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.defects.mapper.DefectsMapper">
    
    <resultMap type="Defects" id="DefectsResult">
        <result property="defectId"    column="defect_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="summary"    column="summary"    />
        <result property="description"    column="description"    />
        <result property="severity"    column="severity"    />
        <result property="status"    column="status"    />
        <result property="detectedBy"    column="detected_by"    />
        <result property="detectedDate"    column="detected_date"    />
        <result property="assignedTo"    column="assigned_to"    />
        <result property="resolutionDate"    column="resolution_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDefectsVo">
        select defect_id, case_id, summary, description, severity, status, detected_by, detected_date, assigned_to, resolution_date, remark from defects
    </sql>

    <select id="selectDefectsList" parameterType="Defects" resultMap="DefectsResult">
        <include refid="selectDefectsVo"/>
        <where>  
            <if test="caseId != null "> and case_id = #{caseId}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="severity != null  and severity != ''"> and severity = #{severity}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="detectedBy != null  and detectedBy != ''"> and detected_by = #{detectedBy}</if>
            <if test="detectedDate != null "> and detected_date = #{detectedDate}</if>
            <if test="assignedTo != null  and assignedTo != ''"> and assigned_to = #{assignedTo}</if>
            <if test="resolutionDate != null "> and resolution_date = #{resolutionDate}</if>
        </where>
    </select>
    
    <select id="selectDefectsByDefectId" parameterType="Long" resultMap="DefectsResult">
        <include refid="selectDefectsVo"/>
        where defect_id = #{defectId}
    </select>
        
    <insert id="insertDefects" parameterType="Defects">
        insert into defects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="defectId != null">defect_id,</if>
            <if test="caseId != null">case_id,</if>
            <if test="summary != null and summary != ''">summary,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="severity != null and severity != ''">severity,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="detectedBy != null and detectedBy != ''">detected_by,</if>
            <if test="detectedDate != null">detected_date,</if>
            <if test="assignedTo != null and assignedTo != ''">assigned_to,</if>
            <if test="resolutionDate != null">resolution_date,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="defectId != null">#{defectId},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="summary != null and summary != ''">#{summary},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="severity != null and severity != ''">#{severity},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="detectedBy != null and detectedBy != ''">#{detectedBy},</if>
            <if test="detectedDate != null">#{detectedDate},</if>
            <if test="assignedTo != null and assignedTo != ''">#{assignedTo},</if>
            <if test="resolutionDate != null">#{resolutionDate},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDefects" parameterType="Defects">
        update defects
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseId != null">case_id = #{caseId},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="severity != null and severity != ''">severity = #{severity},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="detectedBy != null and detectedBy != ''">detected_by = #{detectedBy},</if>
            <if test="detectedDate != null">detected_date = #{detectedDate},</if>
            <if test="assignedTo != null and assignedTo != ''">assigned_to = #{assignedTo},</if>
            <if test="resolutionDate != null">resolution_date = #{resolutionDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where defect_id = #{defectId}
    </update>

    <delete id="deleteDefectsByDefectId" parameterType="Long">
        delete from defects where defect_id = #{defectId}
    </delete>

    <delete id="deleteDefectsByDefectIds" parameterType="String">
        delete from defects where defect_id in 
        <foreach item="defectId" collection="array" open="(" separator="," close=")">
            #{defectId}
        </foreach>
    </delete>
</mapper>