<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.defects.mapper.TeamMapper">
    <resultMap id="TeamResult" type="Team">
        <id column="team_id" property="teamId"/>
        <result column="team_name" property="teamName"/>
    </resultMap>
    <resultMap id="ProjectNameResult" type="ProjectName">
        <result column="project_name" property="projectName"/>
    </resultMap>
    <resultMap id="ModuleNameResult" type="Module">
        <result column="model_name" property="modelName"/>
    </resultMap>
  <select id="selectTeamList"  resultMap="TeamResult">
     SELECT team_id, team_name FROM project_team
     <where>
         <if test="teamName !=null and teamName != '' "> and team_name like concat('%',#{teamName},'%')</if>
     </where>
  </select>

 <select id="selectProjectName" resultMap="ProjectNameResult">
        SELECT project_name     FROM project p    WHERE  project_id=(SELECT project_id FROM mid_project_model WHERE model_id=(SELECT item_id FROM test_case WHERE id = #{caseId}))
 </select>
    <select id="selectModuleName"   resultMap="ModuleNameResult">
        SELECT model_name  FROM project_model  WHERE model_id=(SELECT item_id FROM test_case WHERE id = #{caseId})
    </select>
</mapper>