<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.lcp.mapper.ProjectMapper">

    <resultMap id="ProjectResult" type="com.ruoyi.lcp.pojo.Project">
        <id property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectType" column="project_type"/>
        <result property="projectStatus" column="project_status"/>
        <result property="projectMaterial" column="project_material"/>
        <result property="projectDescription" column="project_description"/>
        <result property="projectPrincipal" column="project_principal"/>
        <result property="projectCreateTime" column="project_createtime"/>
        <result property="projectStartTime" column="project_starttime"/>
        <result property="projectEndTime" column="project_endtime"/>
        <result property="projectUpdateTime" column="project_updatetime"/>
        <result property="projectTeam" column="project_team"/>
        <result property="projectPriority" column="project_priority"/>
        <result property="projectProgress" column="project_progress"/>
        <result property="projectBudget" column="project_budget"/>
        <result property="projectDepartment" column="project_department"/>
        <result property="projectDelFlag" column="project_del_flag"/>
    </resultMap>
    <insert id="AddProject" parameterType="com.ruoyi.lcp.pojo.Project">
        INSERT INTO project (
            project_id, project_name, project_type, project_status,project_material,
            project_description, project_principal, project_createtime, project_starttime, project_endtime,
            project_updatetime, project_team, project_priority, project_progress, project_budget, project_department,project_del_flag)
        VALUES (
                   #{projectId},
                   #{projectName},
                   #{projectType},
                   #{projectStatus},
                   #{projectMaterial},
                   #{projectDescription},
                   #{projectPrincipal},
                   #{projectCreateTime},
                   #{projectStartTime},
                   #{projectEndTime},
                   #{projectUpdateTime},
                   #{projectTeam},
                   #{projectPriority},
                   #{projectProgress},
                   #{projectBudget},
                   #{projectDepartment},
                   #{projectDelFlag}
               )
    </insert>


    <update id="UpdateProject" parameterType="com.ruoyi.lcp.pojo.Project">
        update project
        <set>
            <if test="projectName != null and projectName != ''">project_name = #{projectName}, </if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType}, </if>
            <if test="projectStatus != null and projectStatus !=0">project_status = #{projectStatus}, </if>
            <if test="projectMaterial != null and projectMaterial != ''">project_material = #{projectMaterial},</if>
            <if test="projectDescription != null and projectDescription != ''">project_description = #{projectDescription},</if>
            <if test="projectPrincipal != null and projectPrincipal != ''">project_principal = #{projectPrincipal},</if>

            <if test="projectCreateTime != null">project_createtime = #{projectCreateTime},</if>
            <if test="projectStartTime != null">project_starttime = #{projectStartTime},</if>
            <if test="projectUpdateTime != null">project_updatetime = #{projectUpdateTime},</if>

            <if test="projectTeam != null and projectTeam != ''">project_team = #{projectTeam},</if>
            <if test="projectPriority != null and projectPriority != 0">project_priority = #{projectPriority},</if>
            <if test="projectProgress != null and projectProgress != 0">project_progress = #{projectProgress},</if>
            <if test="projectBudget != null and projectBudget != ''">project_budget = #{projectBudget},</if>
            <if test="projectDepartment != null and projectDepartment != ''">project_department = #{projectDepartment},</if>
        </set>
        where project_id = #{projectId}
    </update>
    <update id="update" >
        <!-- 修改表自增序列的起始值 -->
        ALTER TABLE project AUTO_INCREMENT = 1;
    </update>
    <!--<update id="UpdateProjectId">-->
    <!--    update project set id=#{Id}-->
    <!--    WHERE 1=1 &lt;!&ndash; 使用 1=1 作为起始条件，便于后续动态添加其他条件 &ndash;&gt;-->
    <!--    <if test="projectId != null">AND project_id = #{projectId}</if>-->
    <!--    <if test="projectName != null">AND project_name = #{projectName}</if>-->
    <!--    <if test="projectType != null">AND project_type = #{projectType}</if>-->
    <!--    <if test="project_status != null">AND project_status = #{project_status}</if>-->
    <!--    <if test="projectMaterial != null">AND project_material = #{projectMaterial}</if>-->
    <!--    <if test="projectDescription != null">AND project_description = #{projectDescription}</if>-->
    <!--    <if test="projectPrincipal != null">AND project_principal = #{projectPrincipal}</if>-->
    <!--    <if test="projectCreateTime != null">AND project_createtime = #{projectCreateTime}</if>-->
    <!--    <if test="projectStartTime != null">AND project_starttime = #{projectStartTime}</if>-->
    <!--    <if test="projectUpdateTime != null">AND project_updatetime = #{projectUpdateTime}</if>-->
    <!--    <if test="projectTeam != null">AND project_team = #{projectTeam}</if>-->
    <!--    <if test="projectPriority != null">AND project_priority = #{projectPriority}</if>-->
    <!--    <if test="projectType != null">AND project_type = #{projectType}</if>-->
    <!--    <if test="projectProgress != null">AND project_progress = #{projectProgress}</if>-->
    <!--    <if test="projectBudget != null">AND project_budget = #{projectBudget}</if>-->
    <!--    <if test="projectDepartment != null">AND project_department = #{projectDepartment}</if>-->
    <!--    &lt;!&ndash; 添加更多的条件，根据需要 &ndash;&gt;-->
    <!--</update>-->


    <delete id="delFlag">
        update project
        set project_del_flag = '1'
        WHERE project_id = #{projectId}
    </delete>


    <select id="pageQuery" resultMap="ProjectResult">
        select * from project
        <where>
            <if test="projectDepartment!= null and projectDepartment != ''">
                and project_department  = #{projectDepartment}
            </if>
            <if test="projectPrincipal!= null and projectPrincipal != ''">
                and project_principal  = #{projectPrincipal}
            </if>
            <if test="projectPriority!= null and projectPriority !=0">
                and project_priority  = #{projectPriority}
            </if>
            <if test="projectType!= null and projectType != ''">
                and project_type  = #{projectType}
            </if>
            <if test="projectName!= null and projectName != ''">
                and project_name  like concat('%',#{projectName},'%')
            </if>
            <if test="projectStatus != null and projectStatus!= 0">
                and project_status = #{projectStatus}
            </if>
            <if test="projectId != null and projectId != 0">
                and project_id = #{projectId}
            </if>
                and project_del_flag = '0'
        </where>
        order by project_id  asc , project_createtime desc
    </select>





    <select id="QueryProjectByProjectName" resultMap="ProjectResult">
        select * from project
        <where>
            <if test="projectName!= null and projectName != ''">
                and project_name =#{projectName}
            </if>
            and project_del_flag = '0'
        </where>
        order by project_id  asc , project_createtime desc
    </select>
    <select id="selectDelFlag" resultMap="ProjectResult">
        SELECT * FROM project
        WHERE project_name = #{projectName}
          AND project_del_flag = '1'
    </select>
    <select id="countAllProject" resultType="java.lang.Long">
        SELECT project_id FROM project where project_del_flag = '0'
    </select>
    <select id="selectStatusByProjectId" resultType="java.lang.Integer">
        SELECT project_status FROM project where  project_id=#{projectId} and project_del_flag = '0'
    </select>

    <select id="getAllProject" resultType="java.util.Map">
        select project_id as projectId,project_name as projectName from project where project_status != 0 AND project_del_flag = '0'
    </select>


</mapper>
